/*
* Example style!
* You can do whatever the hell you want on your site :-)
*/
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(165, 136, 85);
}
ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
h1 {
  font-family: 'Anton', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 8em;
  text-align: center;
  line-height: 1em;
  margin: 0.5em 0 0.5em;
  top: 20px;
  right: 0;
  left: 0;
  z-index: -1;
  text-transform: uppercase;
}
#twitterStyles {
  margin: 0 auto;

  width: 600px;
  height: 20vh;
}
div#twitter {
  background-color: rgb(194, 158, 95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#twitter .tweet-content {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  padding: 0 0.5em 0;
}

.tweet-infos {
  font-family: 'Anton', sans-serif;
  font-size: 1em;
  color: rgb(0, 0, 0);
  padding: 0 0.5em 0;
}

a {
  font-family: 'Anton', sans-serif;
  color: #800606;
  font-size: 1em;
  text-decoration: none;
  pointer-events: none;
}

ul li {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.TweetAuthor img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
}

.TweetAuthor span {
  flex-direction: row;
  margin-left: 0.5em;
}

.TweetAuthor-verifiedBadge {
  display: none;
}

#action {
  font-family: 'Anton', sans-serif;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    margin: 1.5em 0 1.5em;
    font-size: 3em;
  }
  #twitterStyles {
    width: 400px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    margin: 1.5em 0 1.5em;
    font-size: 5em;
  }
  #twitterStyles {
    width: 700px;
  }
}
